@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-flex {
    display: flex;
}
/* dark 02 */
.text-gray {
    color:#424242
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}
.text-primary {
    color:  orange;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color:orange ;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem
}

/* main style */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* navbar related style  */
.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* padding-left: 50px;
    padding-right: 50px; */
}
.nav-item {
    list-style: none;
    margin-right: 40px;
}
.brand {
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-link {
    /* display: flex; */
    font-weight: 500;
    text-decoration: none;
    /* list-style: none;
    margin-right: 40px; */    
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-image {
    max-width: 100%;
}




/* Team ans feature related styels */
.teams{
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    /* gap: 24px; */
}
.our-features {
    margin-left: 50px;
    max-width: 530px;
}

#Quick-list {
    font-weight: 500;
}

/* some fact related style */

h3 {
    font-size: 2rem;
    font-weight: 700;
}
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description {
    max-width: 540px;
}
/* sponsor related info */
.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img {
    filter: grayscale(100%);
}









/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-link,
    .teams {
        flex-direction: column;
        /* max-width: 100%; */
}
    
    .team-img-container,
    .fact-container,
    .sponsors-companies {
    grid-template-columns: 1fr;
}
    .our-features{
    margin-left: 20px;
}
.fact-container{
    justify-items: center;
    gap: 24px;
}
.sponsors-companies{
    justify-items: center;
    gap: 50px;
}
}



 /* Medium size device */
 @media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
      
     }
    .team-img-containe {
        grid-template-columns: repeat(1, 1fr);
     } 
    .our-features {
        margin-left: 50px;
        gap: 24px;
    }
    .sponsors-companies,
    .fact-container {
        grid-template-columns:repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    
 }