@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}
/* dark 02 */
.text-gray{
    color:#424242
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144. 14. 0.1);
}

/* main style */


/* navbar related style  */
.navbar{
    /* display: flex; */
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item {
    list-style: none;
    margin-right: 40px;
    color: ;
}
.nav-link {
    /* display: flex; */
    font-weight: 500;
}